[Unit]
After=network.service

[Install]
WantedBy=multi-user.target

[Service]
WorkingDirectory=/root/labs/RF_IDS_Lab1_Scripts/
ExecStart=/bin/bash /root/labs/RF_IDS_Lab1_Scripts/scripts/assign_ips.sh
Restart=on-failure
