[Unit]
Description=IDS Lab 1 step-5v02.py Testing ICMP drop rule

[Service]
ExecStart=/root/labs/RF_IDS_Lab1_Scripts/scripts/step-5v02.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
